<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>任务首页 - 科帮网</title>
    <meta name="author" content="小柒2012"/>
    <meta name="site" content="https://blog.52itstyle.com"/>
    <link rel="stylesheet" th:href="@{/iview/iview.css}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
    <script th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
    <script th:src="@{/common.js}" type="text/javascript"></script>

    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" style="height: 80%" v-cloak>
    <div style="margin-bottom: 6px;margin: 30px">
        <b>任务名称：</b>
        <i-input v-model="taskName" placeholder="请输入任务名称，支持模糊搜索" style="width: 200px"></i-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>任务ID：</b>
        <i-input v-model="taskId" placeholder="请输入任务ID" style="width: 180px"></i-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>任务状态：</b>
        <i-select v-model="status" style="width: 200px">
            <i-option v-for="option in options" v-bind:value="option.value">
                {{ option.desc }}
            </i-option>
        </i-select>
        <span>Selected: {{ status }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>创建人：</b>
        <i-input v-model="creator" placeholder="请输入创建人姓名小写" style="width: 180px"></i-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>学生完成:</b>
        <i-select v-model="userFinished" style="width: 200px">
            <i-option v-for="option in options1" v-bind:value="option.value">
                {{ option.desc }}
            </i-option>
        </i-select>
        <br/><br/>
                <b>任务备注：</b>
        <i-input v-model="taskDesc" placeholder="请输入任务备注，支持模糊搜索" style="width: 200px"></i-input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>时间段：</b>
        <template>
            <el-date-picker
                    v-model="time"
                    type="datetimerange"
                    range-separator="至"
                    format="yyyy-MM-dd HH:mm:ss"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
        </template>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i-button type="primary" @click="search()" icon="ios-search">查询</i-button>&nbsp;&nbsp;
        <i-button type="primary" @click="create()" icon="ios-reload">创建任务</i-button>&nbsp;&nbsp;
        <i-button type="primary" @click="taskExport()" icon="ios-reload">导出列表</i-button>&nbsp;&nbsp;
        <i-button type="primary" @click="click()">打印选择的时间</i-button>
    </div>
    <div style="margin-bottom: 6px;margin: 30px">
        <template>
            <i-table border :content="self" :columns="tableTitle" :data="JobData"></i-table>
            <br>
            <!-- 待实现分页功能 -->
            <!-- <Page :current="teacher.pageNumber" :total="tableSize" :page-size="pageSize"  @on-change="changePage" @on-page-size-change="changePageSize" show-elevator show-sizer show-total></Page> -->
        </template>
    </div>
</div>

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            taskName: "",
            taskId: '',
            status: 0,
            creator: "",
            startTime: "",
            endTime: "",
            taskDesc: "",
            userFinished: '',
            pageNo: 0,
            pageSize: 10,
            time : [],
            JobData: [],
            form : {
                status : '',
                dynamicItem : [],
            },
            options: [
            ],
            options1: [
                {value: 1, desc: '完成'},
                {value: 0, desc: '未完成'},
            ],
            tableTitle: [{
                key: "taskId",
                title: "任务ID",
                align: 'center',
                width: 100
            }, {
                key: "taskName",
                title: "任务名",
                align: 'center',
            }, {
                key: "startTime",
                title: "开始时间",
                align: 'center',
                width: 200
            }, {
                key: "endTime",
                title: "结束时间",
                align: 'center',
                width: 200
            }, {
                key: "status",
                title: "任务状态",
                align: 'center',
            }, {
                key: "createTime",
                title: "创建时间",
                align: 'center',
                width: 200
            }, {
                key: "taskDesc",
                title: "任务备注",
                align: 'center',
            }, {
                key: "creator",
                title: "创建人",
                align: 'center',
                width: 200,
            }, {
                key: "userFinishSow",
                title: "学生完成",
                align: 'center',
            }, {
                title: '操作',
                key: 'action',
                width: 280,
                align: 'center',
                render: function (h, params) {
                    var functionList = [];
                    //查看
                    var touch = h('Button', {
                        props: {
                            type: 'primary',
                            icon: 'ios-reload'
                        },
                        style: {
                            marginRight: '8px'
                        },
                        on: {
                            click: function () {
                                vm.touch(params.row);
                            }
                        }
                    }, '查看');
                    functionList.push(touch);
                    // 去完成
                    var goTask = h('Button', {
                        props: {
                            type: 'primary',
                            icon: 'ios-reload',
                        },
                        style: {
                            marginRight: '8px',
                            display: (params.row.picName==null)?"none":"inline-block"
                        },
                        on: {
                            click: function () {
                                vm.goTask(params.row);
                            }
                        }
                    }, '去完成');
                    functionList.push(goTask);
                    // 返回方法集合
                    return h('div', functionList);
                }
            }]

        },
        methods: {
            click: function () {
                console.log(vm.time[0]);
                console.log(vm.time[1]);
            },
            //搜索
            search: function () {
                $.ajax({
                    url: "../task/search",
                    type: "post",
                    data: {
                        'task': this.taskId,
                        "taskName": this.taskName,
                        'status': this.status,
                        "creator": this.creator,
                        "taskDesc": this.taskDesc,
                        "startTime": this.time[0],
                        "endTime": this.time[1],
                        'pageSize': this.pageSize,
                        'pageNo': this.pageNo,
                    },
                    success: function (result) {
                        vm.JobData = result.msg;
                    }
                });
            },
            // 任务状态枚举
            taskStatus: function () {
                $.ajax({
                    url: "../task/status",
                    type: "post",
                    data: {
                    },
                    success: function (result) {
                        vm.options = result.msg;
                    }
                });
            },
            // 任务列表导出
            taskExport: function () {
                alert("任务列表到处")
                $.ajax({
                    url: "../task/export",
                    type: "post",
                    data: {'time': (new Date()).toString(), 'taskId': this.taskId},
                    success: function (result) {
                        if (result.code == "200") {
                            vm.$Notice.success({
                                desc: '查看任务成功'
                            });
                            vm.list();
                        }
                    }
                });
            },
            //新建任务(略简单)
            create: function () {
                dialogOpen({
                    title: '新增',
                    url: 'task/add.html',
                    scroll: true,
                    width: '1000px',
                    height: '1000px',
                    success: function (iframeId) {

                    },
                    yes: function (iframeId) {
                        top.frames[iframeId].vm.acceptClick();
                    },
                });
            },
            //任务列表(自行实现分页)
            list: function () {
                $.ajax({
                    url: "../student/task/list",
                    type: "post",
                    data: {'time': (new Date()).toString(), 'pageNo': this.pageNo, 'pageSize': this.pageSize},
                    success: function (result) {
                        vm.JobData = result.msg;
                        for (var i=0; i<vm.JobData.length;i++) {
                            if (vm.JobData[i].userFinished == 1) {
                                vm.JobData[i].userFinishSow = "完成"
                            }
                            if (vm.JobData[i].userFinished == 0) {
                                vm.JobData[i].userFinishSow = "未完成"
                                vm.JobData[i].picName = "block"
                            }
                        }
                    },
                    error: function (result) {
                        this.$message.error('很抱歉，您没有权限!');
                    }
                });
            },
            //查看任务
            touch: function (task) {
                dialogOpen({
                    title: '查看',
                    url: 'task/touch.html',
                    scroll: true,
                    width: '1000px',
                    height: '1000px',
                    success: function (iframeId) {
                        top.frames[iframeId].vm.formQuartz = task;
                        top.frames[iframeId].vm.formQuartz.time = [task.startTime, task.endTime];
                        top.frames[iframeId].vm.formQuartz.file = {name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'};
                        top.frames[iframeId].vm.form.dynamicItem = [{status: 0}, {status: 1},{status: 2}];
                        top.frames[iframeId].vm.formQuartz.indFile = {name: 'food3.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'};
                    },
                    yes: function (iframeId) {
                        top.frames[iframeId].vm.acceptClick();
                    },
                });
            },
            //查看任务
            goTask: function (task) {
                dialogOpen({
                    title: '查看',
                    url: 'task/goTask.html',
                    scroll: true,
                    width: '1000px',
                    height: '1000px',
                    success: function (iframeId) {
                        top.frames[iframeId].vm.formQuartz = task;
                        top.frames[iframeId].vm.formQuartz.time = [task.startTime, task.endTime];
                        top.frames[iframeId].vm.formQuartz.file = {name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'};
                        top.frames[iframeId].vm.form.dynamicItem = [{status: 0}, {status: 1},{status: 2}];
                        top.frames[iframeId].vm.formQuartz.indFile = {name: 'food3.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'};
                    },
                    yes: function (iframeId) {
                        top.frames[iframeId].vm.acceptClick();
                    },
                });
            },
        },
        created: function () {
            this.list();
            this.taskStatus();
        }
    });
</script>
</body>
</html>