<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>任务首页 - 科帮网</title>
    <meta name="author" content="小柒2012" />
    <meta name="site" content="https://blog.52itstyle.com" />
    <link rel="stylesheet" th:href="@{/iview/iview.css}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
    <script th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app2" v-cloak style="margin: 30px">
    <template>
        <i-form v-ref:form-quartz :model="formQuartz" :rules="ruleValidate" :label-width="80">
            <Form-item label="工号" prop="userId">
                <i-input  v-model="formQuartz.userId"  :value.sync="formQuartz.userId" :disabled="true"></i-input>
            </Form-item>
            <Form-item label="姓名" prop="name" >
                <i-input  v-model="formQuartz.name" :value.sync="formQuartz.name" ></i-input>
            </Form-item>
            <Form-item label="年龄" prop="age" >
                <i-input  v-model="formQuartz.age" :value.sync="formQuartz.age" ></i-input>
            </Form-item>
            <Form-item label="性别" prop="name" >
                <i-input  v-model="formQuartz.sex" :value.sync="formQuartz.sex" ></i-input>
            </Form-item>
            <Form-item label="工种" prop="type" >
                <i-input  v-model="formQuartz.type" :value.sync="formQuartz.type"  :disabled="true"></i-input>
            </Form-item>
            <Form-item label="电话" prop="phone" >
                <i-input  v-model="formQuartz.phone" :value.sync="formQuartz.phones" ></i-input>
            </Form-item>
            <Form-item label="邮箱" prop="email" >
                <i-input  v-model="formQuartz.email" :value.sync="formQuartz.email" ></i-input>
            </Form-item>
            <Form-item label="密码" prop="password" >
                <i-input  v-model="formQuartz.password" :value.sync="formQuartz.password" ></i-input>
            </Form-item>

            <div v-for="(item, index) in form.dynamicItem" :key="index">
                <div style="height: 50px; width: 500px;box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)">
                    <i-select v-model="item.status" style="width: 300px" :disabled="true">
                        <i-option v-for="option in options" v-if="item.status == option.value" v-bind:value="item.status" :disabled="true">
                            {{ option.desc }}
                        </i-option>
                    </i-select>
                    <el-link v-if="item.status == 2" type="success"  @click="download(formQuartz.indFile)"> {{ formQuartz.indFile.name }}
                    </el-link>
                    <i-button type="primary" icon="ios-icon-delete" :disabled="true">删除</i-button>
                </div><br/><br/><br/>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i-button type="primary"  @click="edit()" icon="edit">确定修改</i-button>
        </i-form>
    </template>
</div>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el : '#app2',
        data : {
            options: [
            ],
            form: {
                status: '',
                dynamicItem: [],
            },
            fileList: [],
            indFileList : [{name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}],
            formQuartz: {
                id: '',
                userId : "",
                name : "",
                age: "",
                sex: "",
                type: "",
                phone: "",
                email: "",
                password: "",
            },
            ruleValidate: {
                userId: [
                    { required: true, message: '工号不能为空', trigger: 'blur' }
                ],
                name: [
                    { required: true, message: '姓名不能为空', trigger: 'blur' }
                ],
                age: [
                    { required: true, message: '年龄不能为空', trigger: 'blur' }
                ],
                sex: [
                    { required: true, message: '性别不能为空', trigger: 'blur' }
                ],
                type: [
                    { required: true, message: '工种不能为空', trigger: 'blur' }
                ],
                phone: [
                    { required: true, message: '电话不能为空', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: '邮箱不能为空', trigger: 'blur' }
                ]
            }
        },
        methods : {
            download(file) {
                var url = file.url;
                var filename = file.name
                if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                    window.navigator.msSaveOrOpenBlob(csvData, file.name);
                } else {
                    // var link = document.createElement('a')
                    // link.download = file.name
                    // var binaryData = [];
                    // binaryData.push(file.file);
                    // link.href = window.URL.createObjectURL(new Blob(binaryData, {type: "application/zip"}))
                    // document.body.appendChild(link);
                    // link.click()
                    // window.URL.revokeObjectURL(link.href)
                    // console.log(link.href)
                    return axios.get(url, {
                        params: {},
                        responseType:'arraybuffer',
                    }).then((r) => {
                        const content = r.data
                        const blob = new Blob([content],{type: file.type})
                        if ('download' in document.createElement('a')) {
                            const elink = document.createElement('a')
                            elink.download = filename
                            elink.style.display = 'none'
                            elink.href = URL.createObjectURL(blob)
                            document.body.appendChild(elink)
                            elink.click()
                            URL.revokeObjectURL(elink.href)
                            document.body.removeChild(elink)
                            alert('导出成功')
                        }
                    }).catch((r) => {
                        console.error(r)
                        alert('导出失败')
                    })
                }
            },
            // 查看当前用户数据
            userInfo: function () {
                $.ajax({
                    url: "../teacher/task/user/info",
                    type: "post",
                    data: {
                    },
                    success: function (result) {
                        let code = result.code;
                        let msg = result.msg;
                        if (code == 401) {
                            vm.$Notice.error({
                                desc:  msg
                            });
                            //window.location.href = "task/index.html"
                        } else {
                            vm.formQuartz = result.msg;
                        }
                    },
                    error: function (result) {
                        let code = result.code;
                        let msg = result.msg;
                        vm.$Notice.error({
                            desc:  "没有权限!!"
                        });
                        // window.location.href = "task/index.html"
                    }
                });
            },
            edit: function () {
                var quartz =  vm.formQuartz;
                if(vm.formQuartz.name==""||vm.formQuartz.age==""||vm.formQuartz.sex==""||vm.formQuartz.type==""||vm.formQuartz.phone==""||vm.formQuartz.email==""){
                    alert("请输入以上完整信息");
                    return;
                }
                var json = {
                    "id": quartz.id,
                    "name": quartz.name,
                    "age": quartz.age,
                    "userId": quartz.userId,
                    "sex": quartz.sex,
                    "type": quartz.type,
                    "phone": quartz.phone,
                    "email": quartz.email,
                    "password": quartz.email
                };
                $.ajax({
                    url:"../teacher/task/user/edit",
                    type:"post",
                    dataType:'json',
                    contentType:'application/json;charset=UTF-8',
                    data: JSON.stringify(json),
                    success: function(result) {
                        if(result.code == 200){
                            vm.$Notice.success({
                                desc: result.msg
                            });
                            //window.parent.location.reload();
                            //$(window.parent.document).contents().find('#app')[0].contentWindow.vm.load();
                        }else{
                            vm.$Notice.error({
                                desc:  '系统异常'
                            });
                        }
                    }
                });
            },
            handleRemove(file, fileList) {
                fileList.pop();
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
        },
        created : function() {
            this.userInfo();
        }
    })
</script>
</body>
</html>